.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.word-break {
  word-break: break-all;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
}
/*.alert_r, .alert_f {
	display:none;
	position: absolute;
	top:10px;
	left:250px;
	height:60px;
	padding:0 20px;
	.opacity(80);
	background-color: @white;
	color: @black;
	border:5px solid #999;
	.border-radius(5px);
	font:16px 'Microsoft YaHei' bold;
	background: url(../img/r_f_alert.gif) no-repeat;
	text-indent:50px;
	line-height:60px;
	z-index:9999;
}
.alert_f {
	background-position:0px -65px;
}*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
body {
  margin: 0;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  background-color: #ffffff;
  word-break: break-all;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a:active {
  color: #1a6cc1;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.l {
  float: left;
}
.r {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.mt5 {
  margin-top: 5px;
}
.mt15 {
  margin-top: 15px;
}
.mt30 {
  margin-top: 30px;
}
.mt55 {
  margin-top: 55px;
}
.mb15 {
  margin-bottom: 15px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt40 {
  padding-top: 40px;
}
.pr20 {
  padding-right: 20px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.wd50 {
  width: 50px;
}
.wd70 {
  width: 70px;
}
.wd100 {
  width: 100px;
}
.wd150 {
  width: 150px;
}
.wd200 {
  width: 200px;
}
.wd300 {
  width: 300px;
}
.wd500 {
  width: 500px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 990px;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
em,
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 20px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
ul,
ol,
dl,
dt,
dd,
input {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  margin: 0;
  border: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
input[type=text],
input[type=password],
textarea {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  padding: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  color: #808080;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=button],
input[type=submit] {
  *width: 1;
  *overflow: visible;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
a,
img {
  outline: none;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  vertical-align: top;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  overflow: hidden;
}
.icon-xxx {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  vertical-align: top;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  overflow: hidden;
  _display: inline;
  _zoom: 1;
  _vertical-align: top;
  _background-image: url("../img/icon-8.png");
}
.icon-ucleft1,
.icon-ucleft2,
.icon-ucleft3,
.icon-ucleft4,
.icon-ucleft5,
.icon-ucleft6,
.icon-ucleft7 {
  vertical-align: middle;
  background-position: 0 2px;
}
.icon-ucleft2 {
  background-position: 0 -20px;
}
.icon-ucleft3 {
  background-position: 0 -44px;
}
.icon-ucleft4 {
  background-position: 0 -64px;
}
.icon-ucleft5 {
  background-position: 0 -84px;
}
.icon-ucleft6 {
  background-position: 0 -104px;
}
.icon-ucleft7 {
  background-position: 0 -120px;
}
.icon-del {
  background-position: -27px 4px;
}
.icon-label {
  background-position: -27px -22px;
}
a:hover .icon-del,
a.active .icon-del {
  background-position: -49px 4px;
}
a:hover .icon-label,
a.active .icon-label {
  background-position: -49px -22px;
}
.icon-newgoods,
.icon-newgoods2 {
  width: 121px;
  height: 60px;
  background-position: 0 -190px;
}
.icon-newgoods2 {
  background-position: 0 -250px;
}
.icon-search-small {
  background-position: -28px -40px;
}
.icon-arrow-down,
.icon-arrow-up {
  width: 9px;
  height: 13px;
  background-position: -26px -65px;
}
.icon-arrow-up {
  background-position: -36px -65px;
}
.icon-drop-down {
  background-position: -22px -84px;
}
.icon-phone,
.icon-qq {
  width: 36px;
  height: 36px;
  background-position: -77px -46px;
}
.icon-qq {
  background-position: -73px 0;
}
a:hover .icon-qq {
  background-position: -114px 0;
}
.icon-star {
  width: 25px;
  height: 25px;
  background: url("../img/icon_star.jpg") no-repeat;
}
.bank {
  display: inline-block;
  margin-left: 5px;
  *margin-left: 0px;
  width: 127px;
  height: 38px;
  line-height: 38px;
  text-indent: -9999px;
  cursor: pointer;
  background: url("../img/bank-type.jpg") no-repeat;
}
.bank-icbc {
  background-position: -136px 0;
}
.bank-ccb {
  background-position: -271px 0;
}
.bank-bofc {
  background-position: -407px 0;
}
.bank-spdb {
  background-position: 0 -45px;
}
.bank-pingan {
  background-position: -136px -45px;
}
.bank-cmbc {
  background-position: -271px -45px;
}
.bank-abc {
  background-position: -407px -45px;
}
.bank-cebb {
  background-position: 0 -91px;
}
.bank-cib {
  background-position: -136px -91px;
}
.bank-zxyh {
  background-position: -271px -91px;
}
.bank-bjrcb {
  background-position: -407px -91px;
}
.bank-gdb {
  background-position: 0 -138px;
}
.bank-czb {
  background-position: -136px -138px;
}
.icon-normal,
.icon-error,
.icon-ok {
  width: 14px;
  height: 14px;
  background-position: -50px -48px;
}
.icon-error {
  background-position: -50px -65px;
}
.icon-ok {
  background-position: -50px -81px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  padding: 30px;
  width: 510px;
  top: 10%;
  left: 50%;
  z-index: 1050;
  border: 1px solid #e7e8e9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  background: #ffffff;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-body {
  border-top: #e7e8e9 solid 1px;
  padding: 20px 0 40px;
}
.modal-body p {
  padding-left: 17px;
  font-size: 16px;
  color: #666;
  background: url("../img/trade_pass.jpg") no-repeat left;
}
.modal-body p.other-bg {
  padding-left: 25px;
  background: url("../img/small_p_bg.jpg") no-repeat left;
}
.modal-footer {
  padding-bottom: 30px;
}
.modal-footer a {
  display: inline-block;
  margin-right: 20px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #4287cc;
}
.modal-footer a:hover {
  background: #3976b3;
}
.modal-footer a.a-gray {
  color: #666;
  background: #e5e5e5;
}
.modal-footer a.a-gray:hover {
  background: #c3c2c2;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  border: #1f699a solid 1px;
  padding: 0 10px;
  line-height: 25px;
  font-size: 14px;
  color: #ffffff;
  background: #59afe3;
  background-image: -moz-linear-gradient(center top, #59afe3, #347db5);
  background-image: -webkit-linear-gradient(top, #59afe3, #347db5);
}
.btn:hover {
  color: #ffffff;
  background: #347db5;
}
.btn.disable {
  cursor: auto;
  border-color: #999 ;
  color: #666;
  background: #ccc;
}
.btn-small {
  padding: 0 8px;
  line-height: 22px;
  font-size: 12px;
}
.btn-big {
  padding: 0 30px;
  line-height: 35px;
  font-size: 16px;
}
.btn-gray {
  border: #bbb solid 1px;
  color: #666;
  background: #e6e6e6;
}
.btn-gray:hover {
  color: #666;
  background: #ccc;
}
.btn-add {
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pagination {
  *zoom: 1;
  display: inline-block;
  *display: inline;
}
.pagination:before,
.pagination:after {
  display: table;
  content: "";
  line-height: 0;
}
.pagination:after {
  clear: both;
}
.pagination a,
.pagination span {
  display: inline-block;
  float: left;
  margin-right: 5px;
  border: #ccc solid 1px;
  padding: 0 9px;
  background-color: #ffffff;
}
.pagination a:hover {
  color: #fff;
  background: #2280BA;
}
.pagination span {
  border: none;
}
.pagination span.active {
  border: #ccc solid 1px;
  color: #fff;
  background: #2280BA;
}
.header-2 {
  margin-bottom: 10px;
  height: 47px;
  background: #1C86D1;
  background: #1c86d1 -moz-linear-gradient(center top, #1c8fdf, #1c86d1);
}
.header-2 .nav {
  height: 47px;
}
.header-2 .nav .logo {
  margin: 12px 14px 0 0;
}
.header-2 .nav .logo img {
  width: 170px;
}
.header-2 .nav .logo.mr28 {
  margin-right: 28px;
}
.header-2 .nav ul.l li {
  float: left;
}
.header-2 .nav ul.l li a {
  display: block;
  border-left: 1px solid #2393E2;
  border-right: 1px solid #1878BB;
  padding: 0 12px;
  height: 47px;
  line-height: 47px;
  color: #ffffff;
}
.header-2 .nav ul.l li a:hover {
  background: #147bc2;
}
.header-2 .nav ul.l li a.active {
  border-left: 1px solid #0C619B;
  border-right: 1px solid #0C619B;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25) inset;
  background: #0C6FB2;
}
.header-2 .nav ul.r li {
  float: left;
  padding: 0 8px;
  height: 47px;
  line-height: 47px;
  font-size: 12px;
  color: #E7E8E9;
  background: url("../img/inner-settings-container-sep.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.header-2 .nav ul.r li a {
  color: #E7E8E9;
}
.header-2 .nav ul.r li a img {
  margin: 0 10px 0 5px;
  vertical-align: 0px;
}
.header-2 .nav ul.r li a em {
  display: none;
}
.header-2 .nav ul.r li a:hover em {
  display: inline-block;
}
.header-2 .nav ul.r li.last {
  background: none;
}
.header-2 .nav h1.text {
  float: left;
  position: relative;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.topbar-dropdown {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  display: none;
  position: absolute;
  border: #aaa solid 1px;
  border-top: none;
  padding: 10px 20px 20px;
  right: 0;
  font-size: 13px;
  z-index: 10;
  color: #646464;
  background: #ffffff;
}
.topbar-dropdown p {
  padding-bottom: 10px;
  width: 220px;
  white-space: nowrap;
}
.topbar-dropdown p .text {
  width: 210px;
  height: 26px;
  line-height: 26px;
}
.topbar-dropdown p label {
  padding: 0 5px;
}
.topbar-dropdown p a {
  display: inline-block;
  color: #1a6cc1;
}
.topbar-dropdown p a:hover {
  text-decoration: underline;
}
.topbar-dropdown p .login-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid 1px;
  float: right;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 7px 14px;
  font-size: 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background: #339cdd;
  background-image: -moz-linear-gradient(center top, #339cdd, #2280ba);
  background-image: -webkit-linear-gradient(top, #339cdd, #2280ba);
}
.topbar-dropdown p .login-button:hover {
  background: #2280ba;
  text-decoration: none;
}
.banner {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.banner img {
  width: 988px;
  height: 118px;
}
.menu {
  *zoom: 1;
  position: relative;
  border-top: 4px solid #e5e5e5;
  padding-top: 10px;
  background-color: #3f7fc6;
}
.menu:before,
.menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.menu:after {
  clear: both;
}
.menu p.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 10px;
  background-color: #ffffff;
}
.menu div.l {
  position: relative;
  z-index: 100;
  border-right: 1px solid #034077;
  width: 300px;
}
.menu div.l .drop-down-classify {
  display: block;
  color: #ffffff;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
}
.menu div.l .drop-down-classify:hover,
.menu div.l .drop-down-classify.active {
  background-color: #08579c;
}
.menu div.l .drop-content {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 100;
  display: none;
  border: #08579c solid 2px;
  border-top: none;
  height: 566px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.menu div.l .drop-content .part {
  *zoom: 1;
  margin: 0 10px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
  *width: 276px;
}
.menu div.l .drop-content .part:before,
.menu div.l .drop-content .part:after {
  display: table;
  content: "";
  line-height: 0;
}
.menu div.l .drop-content .part:after {
  clear: both;
}
.menu div.l .drop-content .part h3 {
  float: left;
  border-bottom: #1a6cc1 solid 1px;
  padding: 10px 5px 0;
  color: #1a6cc1;
}
.menu div.l .drop-content .part p {
  float: left;
  padding-top: 10px;
  padding-left: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.menu div.l .drop-content .part ul {
  float: left;
  padding: 10px 0 0 25px;
  width: 250px;
}
.menu div.l .drop-content .part ul li {
  float: left;
  width: 50%;
}
.menu div.l .drop-content .part ul li a {
  display: block;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu div.l .drop-content .part:last-child,
.menu div.l .drop-content .part.last {
  border-bottom: none;
}
.menu div.l .drop-content.active {
  display: block;
}
.menu .son-menu {
  float: left;
  font-size: 16px;
}
.menu .son-menu li {
  float: left;
}
.menu .son-menu li a {
  display: block;
  width: 120px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
.menu .son-menu li a:hover,
.menu .son-menu li a.active {
  position: relative;
  margin-top: -14px;
  border-top: 4px solid #08579c;
  border-right: 1px solid #034077;
  border-left: 1px solid #237ecd;
  padding-top: 10px;
  width: 118px;
  background-color: #08579c;
}
.classify {
  padding: 20px 0;
}
.classify .filter {
  border: 1px solid #ccc;
  padding: 7px 25px;
}
.classify .filter a {
  display: inline-block;
  margin-right: 7px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.classify .filter a .del {
  padding-left: 5px;
  font-weight: bold;
  color: #ccc;
}
.classify .filter a:hover {
  border-color: #1a6cc1;
  color: #333;
}
.classify dl {
  *zoom: 1;
  margin-top: -1px;
  border: 1px solid #ccc;
  line-height: 30px;
  background-color: #f5f5f5;
}
.classify dl:before,
.classify dl:after {
  display: table;
  content: "";
  line-height: 0;
}
.classify dl:after {
  clear: both;
}
.classify dl dt {
  float: left;
  padding: 0 20px 0 25px;
  width: 72px;
}
.classify dl dd {
  float: left;
  border-left: #ccc solid 1px;
  padding: 0 5px;
  width: 860px;
  background-color: #ffffff;
}
.classify dl dd a.r {
  display: block;
  width: 19px;
  height: 16px;
  margin-top: 6px;
  border: #e5e5e5 solid 1px;
}
.classify dl dd ul {
  float: left;
  width: 835px;
  height: 30px;
  overflow: hidden;
}
.classify dl dd ul li {
  float: left;
}
.classify dl dd ul li a {
  display: inline-block;
  padding: 0 19px;
  white-space: nowrap;
}
.classify dl dd ul li a.active {
  color: #ffffff;
  background: #1a6cc1;
}
.classify dl dd ul.show {
  max-height: 150px;
  height: auto;
  overflow: auto;
}
.classify dl dd p {
  padding: 0 15px;
  line-height: 30px;
}
.classify dl dd p select {
  width: 100px;
}
.classify dl dd p i {
  padding: 0 30px 0 7px;
}
.classify dl dd p a {
  margin-right: 45px;
}
.classify dl dd p a.active {
  color: #1a6cc1;
}
.title-arrow {
  *zoom: 1;
  position: relative;
  border-bottom: #ccc solid 2px;
  padding: 0 10px 10px 40px;
  color: #1a6cc1;
}
.title-arrow:before,
.title-arrow:after {
  display: table;
  content: "";
  line-height: 0;
}
.title-arrow:after {
  clear: both;
}
.title-arrow span {
  position: absolute;
  left: 24px;
  bottom: -2px;
  display: block;
  border-bottom: #3f7fc6 solid 2px;
  width: 95px;
  text-align: center;
}
.title-arrow span .arrow-up {
  /**
	* @bottom triangle bottom length
	* @height triangle height
	* @color triangle color
	*/
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px;
  border-color: transparent transparent #3f7fc6;
  line-height: 0px;
  *border-color: #ffffff #ffffff #3f7fc6;
  *filter: progid:DXImageTransform.Microsoft.Chroma(color=#fffffe);
  vertical-align: 6px;
}
.title-arrow span.wd150 {
  left: 0;
  width: 150px;
}
.title-arrow a.r {
  font-size: 10px;
  font-weight: normal;
  color: #1a6cc1;
}
.title-arrow a.r:hover {
  text-decoration: underline;
}
.floor {
  *zoom: 1;
  padding-bottom: 50px;
}
.floor:before,
.floor:after {
  display: table;
  content: "";
  line-height: 0;
}
.floor:after {
  clear: both;
}
.floor .wd790 {
  margin-right: 20px;
  width: 790px;
  min-height: 700px;
}
.floor .wd180 {
  width: 180px;
}
.piece {
  margin-bottom: 20px;
  border: #ccc solid 1px;
  padding-bottom: 20px;
}
.piece h4 {
  *zoom: 1;
  border-bottom: 1px solid #ccc;
  padding-left: 25px;
  padding-right: 20px;
  line-height: 35px;
  color: #333333;
  background-color: #f5f5f5;
}
.piece h4:before,
.piece h4:after {
  display: table;
  content: "";
  line-height: 0;
}
.piece h4:after {
  clear: both;
}
.piece h4 a {
  font-size: 10px;
  font-weight: normal;
  color: #1a6cc1;
}
.piece h4 a:hover {
  text-decoration: underline;
}
.side-right {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border: #ccc solid 1px;
  width: 178px;
  background-color: #f5f5f5;
}
.side-right h4 {
  padding-left: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #3f7fc6;
}
.side-right .digg {
  padding: 15px 15px 29px 15px;
}
.side-right .digg p {
  *zoom: 1;
  padding: 0 7px 10px;
}
.side-right .digg p:before,
.side-right .digg p:after {
  display: table;
  content: "";
  line-height: 0;
}
.side-right .digg p:after {
  clear: both;
}
.side-right .digg p.title {
  margin-bottom: 10px;
  padding-bottom: 0;
  border: #e5e5e5 solid 1px;
  background-color: #ffffff;
}
.goods-list {
  *zoom: 1;
}
.goods-list:before,
.goods-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.goods-list:after {
  clear: both;
}
.goods-list li {
  float: left;
  padding: 20px 0 20px 20px;
  width: 172px;
  font-size: 12px;
}
.goods-list li .wrap {
  display: block;
}
.goods-list li .wrap .wrap-img {
  border: #e5e5e5 solid 1px;
  width: 170px;
  height: 170px;
  line-height: 167px;
  overflow: hidden;
  text-align: center;
}
.goods-list li .wrap div.inner {
  padding-top: 10px;
}
.goods-list li .wrap div.inner p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.goods-list li .wrap div.inner p.red-font {
  font-weight: bold;
  color: #ff0000;
}
.goods-list li .wrap:hover .wrap-img {
  border-color: #3f7fc6;
}
.goods-list li .wrap:hover div.inner p:first-child {
  color: #1a6cc1;
}
.goods-list.row3 li {
  width: 236px;
}
.goods-list.row3 li .wrap {
  position: relative;
}
.goods-list.row3 li .wrap i {
  position: absolute;
  left: 6px;
  top: 6px;
}
.goods-list.row3 li .wrap .wrap-img {
  width: 234px;
  height: 234px;
  line-height: 231px;
}
.goods-list.wd236 li {
  width: 236px;
}
.goods-list.wd236 li .wrap {
  *zoom: 1;
}
.goods-list.wd236 li .wrap:before,
.goods-list.wd236 li .wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
.goods-list.wd236 li .wrap:after {
  clear: both;
}
.goods-list.wd236 li .wrap .wrap-img {
  float: left;
  width: 145px;
  height: 145px;
  line-height: 142px;
}
.goods-list.wd236 li .wrap div.inner {
  float: left;
  padding-top: 15px;
  padding-left: 7px;
  width: 82px;
}
.goods-list.wd236 li .wrap div.inner p {
  padding-bottom: 8px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goods-list.wd148 {
  padding: 15px 15px 0 15px;
}
.goods-list.wd148 li {
  padding: 0;
  padding-bottom: 25px;
  width: 148px;
}
.goods-list.wd148 li .wrap .wrap-img {
  width: 146px;
  height: 146px;
  line-height: 143px;
}
.sort {
  *zoom: 1;
  padding: 20px 20px 0 20px;
  *line-height: 32px;
}
.sort:before,
.sort:after {
  display: table;
  content: "";
  line-height: 0;
}
.sort:after {
  clear: both;
}
.sort .search-small {
  display: inline-block;
  *display: inline;
  *margin-right: 5px;
  border: 1px solid #e5e5e5;
  *vertical-align: middle;
  background-color: #ffffff;
}
.sort .search-small input[type=text] {
  border: none;
  width: 120px;
  box-shadow: none;
  background-color: #ffffff;
}
.sort .btn-small {
  height: 24px \9;
}
.footer {
  text-align: center;
  padding: 35px 0;
  color: #ffffff;
  background-color: #3f7fc6;
}
.footer-2 {
  text-align: center;
  border-top: 1px solid #E7E8E9;
  padding: 20px 0;
  width: 100%;
  font-size: 12px;
}
.footer-3 {
  text-align: center;
  margin-top: 30px;
  border-top-style: solid;
  border-top-width: 1px;
  width: 100%;
  font-size: 12px;
}
.footer-3 .top-div {
  padding: 20px 0;
  background: #ececec;
}
.footer-3 .top-div p em {
  padding-right: 7px;
}
.footer-3 .bottom-div {
  position: relative;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
}
.footer-3 .bottom-div a {
  margin-right: 7px;
  color: #ffffff;
}
.footer-3 .bottom-div em {
  position: absolute;
  left: 73%;
  top: 0;
}
